<h2 mat-dialog-title>Investment Details</h2>
<div mat-dialog-content>
  <form #investmentForm="ngForm" (ngSubmit)="submitForm()">
    <mat-form-field appearance="outline">
      <mat-label>Emergency Fund</mat-label>
      <input matInput placeholder="Emergency Fund" name="emergencyFund" [(ngModel)]="formData.emergencyFund" type="number" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Real Estate Value</mat-label>
      <input matInput placeholder="Real Estate Value" name="realEstateValue" [(ngModel)]="formData.realEstateValue" type="number" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Monthly SIP</mat-label>
      <input matInput placeholder="Monthly SIP" name="monthlySIP" [(ngModel)]="formData.monthlySIP" type="number" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Debt Investment</mat-label>
      <input matInput placeholder="Debt Investment" name="debtInvestment" [(ngModel)]="formData.debtInvestment" type="number" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Equity Investment</mat-label>
      <input matInput placeholder="Equity Investment" name="equityInvestment" [(ngModel)]="formData.equityInvestment" type="number" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Gold/Bond Investment</mat-label>
      <input matInput placeholder="Gold/Bond Investment" name="goldBondInvestment" [(ngModel)]="formData.goldBondInvestment" type="number" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Investment as Savings</mat-label>
      <input matInput placeholder="Investment as Savings" name="savingsInvestment" [(ngModel)]="formData.savingsInvestment" type="number" required>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button color="primary" (click)="submitForm()" [disabled]="investmentForm.invalid">Submit</button>
</div>

